*.log
.DS_Store
.env
.envcopy
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/cached_result
/public/videos
/storage/*.key
/storage/pail
/vendor
/document_templates
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
venv
debug.md